
body {
    font-size: 12pt;
}

/* TODO: Height should change dynamically. */
#map {
    height: 650px;
}

.color-box {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    display: inline-block;
}

#high {
    background-color: red;
}

#medium {
    background-color: yellow;
}

#low {
    background-color: lightgreen;
}
