
body {
    font-size: 12pt;
}

#map {
    margin-bottom: 15px;
}

.color-box {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    display: inline-block;
}

#high {
    background-color: red;
}

#medium {
    background-color: yellow;
}

#low {
    background-color: lightgreen;
}

.panorama {
    width: 350px;
    height: 200px;
}
